<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<title>{% block title %}Hike Buddy{% endblock %}</title>
	</head>
	<body>

	<div id = "content", name = "content">
		<div class="row justify-content-center">
			<div class="col-8">
			
			<h1 class="mt-2">Hike Buddy</h1>
			<hr class="mt-0 mb-4">
			
			{% if user.is_authenticated %}
			<p style="text-align:left;">
				<td><left>Hello {{request.user.username}}</left></td>
				<span style="float:right;">
					<td><right><a href="/logout">Logout</a></right></td>
				</span>
			</p>
			{% endif %}
			
			<center>
					<table>
						<tr>
							<td><a href="/"><h5>Home</h5></a></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><h5>Second Button</h5></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><h5>About</h5></td>
							{% if user.is_authenticated and user.is_superuser %}
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><h5><a href="/admin/">Administration</a></h5></td>
							{% elif user.is_authenticated%}
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><h5><a href="/profile/">Profile</a></h5></td>	
							{% endif %}
						</tr>
					</table>
			</center>
				
				{% block content %}
				{% endblock %}
				
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	</body>
</html>