{% extends 'main/base.html' %}

{% block title %}Find Host{% endblock %}

{% block style %}
	tr.border_bottom td {
  	border-bottom: 1px solid black;
	}
	tr.border_bottom_b td {
  	border-bottom: 2px solid black;
	}
	.blue {
  	background-color: rgba(85,144,255,.25);
	}
	.white {
  	background-color: rgba(255,255,255,.25);
	}
{% endblock %}

{% block content %}
<center><h1>Find Host</h1></center>

{% if not user.is_authenticated %}
	<a href="/login/"><p>Login</p></a>
	<p>Not registered yet? <a href="/signup/">Sign up</a></p>
{% else %}	

	<center>

<form method="GET">
	Name:
	{{myFilter.form.name}}
	&nbsp;&nbsp;
	Location: 
	{{myFilter.form.location}}
	&nbsp;&nbsp;
	Fireplace: 
	{{myFilter.form.fireplace}}
	&nbsp;&nbsp;
	Fireplace: 
	{{myFilter.form.fireplace}}
	&nbsp;&nbsp;
	Single Beds: 
	{{myFilter.form.singleBeds}}
	&nbsp;&nbsp;
	Double Beds: 
	{{myFilter.form.doubleBeds}}
	<br>
	&nbsp;&nbsp;
	Free WiFi: 
	{{myFilter.form.freeWiFi}}
	&nbsp;&nbsp;
	Showers: 
	{{myFilter.form.showers}}
	&nbsp;&nbsp;
	Electricity: 
	{{myFilter.form.electricity}}
	&nbsp;&nbsp;
	Breakfast: 
	{{myFilter.form.breakfast}}
	&nbsp;&nbsp;
	Air Conditioning: 
	{{myFilter.form.airConditioning}}
	&nbsp;&nbsp;
	Parking: 
	{{myFilter.form.parking}}
	&nbsp;&nbsp;
	Bar: 
	{{myFilter.form.bar}}

	<button class="btn btn-primary" type="submit">Search</button>
</form>

<table>
			<colgroup>
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
			</colgroup>
			<tr class="border_bottom_b">
					<td>
						<center><b><a href="?order_by=name">Name</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=location">Location</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-fireplace">Fireplace</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-singleBeds">Single Beds</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-doubleBeds">Double Beds</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-freeWiFi">Free WiFi</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-showers">Showers</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-electricity">Electricity</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-breakfast">Breakfast</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-airConditioning">Air Conditioning</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-parking">Parking</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-bar">Bar</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				</tr>

			{% for hp in hosting_places %}
				<tr class="border_bottom">
					<td>
					<center>
						<a href="/profile/{{hp.username}}">{{ hp.name }}</a>
					</center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center>{{hp.location}}</center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.fireplace %}
							<center>✔</center>
							<!-- <center>❌</center> -->
							<!-- <center>✖</center> -->
							<!-- <center>✓</center> -->
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.singleBeds %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.doubleBeds %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.freeWiFi %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.showers %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.electricity %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.breakfast %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.airConditioning %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.parking %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.bar %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				</tr>
			{% endfor %}
		</table>

	</center>



{% endif %}
{% endblock %}