{% extends 'main/base.html' %}

{% block title %}Find Guide{% endblock %}

{% block style %}
	tr.border_bottom td {
  	border-bottom: 1px solid black;
	}
	tr.border_bottom_b td {
  	border-bottom: 2px solid black;
	}
	.blue {
  	background-color: rgba(85,144,255,.25);
	}
	.white {
  	background-color: rgba(255,255,255,.25);
	}
{% endblock %}

{% block content %}
<center><h1>Find Guide</h1></center>

{% if not user.is_authenticated %}
	<a href="/login/"><p>Login</p></a>
	<p>Not registered yet? <a href="/signup/">Sign up</a></p>
{% else %}	

	<center>

<table>
			<colgroup>
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
			</colgroup>
			<tr class="border_bottom_b">
					<td>
						<center><b>Username</b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b>Routes</b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b>Carries a Weapon</b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b>Medic</b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b>Transportation Vehicle</b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b>Cost</b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				</tr>

			{% for guide in guides %}
				<tr class="border_bottom">
					<td>
					<center>
						<a href="/profile/{{guide.username}}">{{ guide.username }}</a>
					</center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if guide.routes != 'None' %}
							<center>{{guide.routes}}</center>
						{% else %}
							<center>❌</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if guide.carryweapon %}
							<center>✔</center>
						{% else %}
							<center>❌</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if guide.medic %}
							<center>✔</center>
						{% else %}
							<center>❌</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if guide.transportationvehicle %}
							<center>✔</center>
						{% else %}
							<center>❌</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{{guide.cost}} $
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				</tr>
			{% endfor %}
		</table>

	</center>



{% endif %}
{% endblock %}