{% extends 'main/base.html' %}

{% block title %}Find Host{% endblock %}

{% block style %}
	tr.border_bottom td {
  	border-bottom: 1px solid black;
	}
	tr.border_bottom_b td {
  	border-bottom: 2px solid black;
	}
	.blue {
  	background-color: rgba(85,144,255,.25);
	}
	.white {
  	background-color: rgba(255,255,255,.25);
	}
{% endblock %}

{% load static %}

{% block content %}
<center><h1>Find Host</h1></center>

{% if not user.is_authenticated %}
	<a href="/login/"><p>Login</p></a>
	<p>Not registered yet? <a href="/signup/">Sign up</a></p>
{% else %}	

	<center>

<form method="GET">
	<table>
		<tr>
				<td>
			Name:&nbsp;&nbsp;{{myFilter.form.name}}
				</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
			Location:&nbsp;&nbsp;{{myFilter.form.location}}
				</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
			Fireplace:&nbsp;&nbsp;{{myFilter.form.fireplace}}
				</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
			Single&nbsp;Beds:&nbsp;&nbsp;{{myFilter.form.singleBeds}}
				</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
			Double&nbsp;Beds:&nbsp;&nbsp;{{myFilter.form.doubleBeds}}
				</td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
			Free&nbsp;WiFi:&nbsp;&nbsp;{{myFilter.form.freeWiFi}}
				</td>
		</tr>
		<tr>
				<td>
			Showers:&nbsp;&nbsp;{{myFilter.form.showers}}
				</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
			Electricity:&nbsp;&nbsp;{{myFilter.form.electricity}}
				</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
			Breakfast:&nbsp;&nbsp;{{myFilter.form.breakfast}}
				</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
			Air&nbsp;Conditioning:&nbsp;&nbsp;{{myFilter.form.airConditioning}}
				</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
			Parking:&nbsp;&nbsp;{{myFilter.form.parking}}
				</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
			Bar:&nbsp;&nbsp;{{myFilter.form.bar}}
				</td>
		</tr>
	</table>
		<br>
				<center><button class="btn btn-primary" type="submit">Search</button></center>
</form>

	<br><br>

	{% if not hosting_places %}
		No hosting place matched your search.
	{% else %}

<table>
			<colgroup>
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
			</colgroup>
			<tr class="border_bottom_b">
					<td>
						<center><b><a href="?order_by=name">Name</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=location">Location</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-fireplace">Fireplace</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-singleBeds">Single Beds</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-doubleBeds">Double Beds</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-freeWiFi">Free WiFi</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-showers">Showers</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-electricity">Electricity</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-breakfast">Breakfast</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-airConditioning">Air Conditioning</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-parking">Parking</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-bar">Bar</a></b></center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center><b><a href="?order_by=-picture">Gallery</a></b></center>
					</td>
				</tr>

			{% for hp in hosting_places %}
				<tr class="border_bottom">
					<td>
					<center>
						<a href="/profile/{{hp.username}}">{{ hp.name }}</a>
					</center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<center>{{hp.location}}</center>
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.fireplace %}
							<center>✔</center>
							<!-- <center>❌</center> -->
							<!-- <center>✖</center> -->
							<!-- <center>✓</center> -->
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.singleBeds %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.doubleBeds %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.freeWiFi %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.showers %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.electricity %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.breakfast %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.airConditioning %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.parking %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.bar %}
							<center>✔</center>
						{% endif %}
					</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						{% if hp.picture %}
						<center>
							<a target="_blank" href="{% static hp.picture.path %}">View</a>
						</center>
						{% else %}
						<center>None</center>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>

	{% endif %}

</center>



{% endif %}
{% endblock %}