{% extends 'main/base.html' %}

{% block title %}My Profile{% endblock %}

{% block style %}
	img {
		border-radius: 50%;
		border: 2px solid #3880fa;
		object-fit: cover;
	}
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<center><h1>My Profile</h1></center>

{% if not user.is_authenticated %}
	<p>Not logged into any account.</p>
	<a href="/login/"><p>Login</p></a>
	
{% else %}
	{% if profile_pic %}
	<center>
		<br>
		<img src='{% static profile_pic.path %}' alt="Avatar" height=180px width=180px>
	</center>
	{% endif %}
	<table>
		<tr>
			<td>Username:&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.username}}</td>
		</tr>
		<tr>
			<td>Email address:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.email}}</td>
		</tr>
		{% if user.first_name %}
		<tr>
			<td>First Name:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.first_name.capitalize}}</td>
		</tr>
		{% endif %}
		{% if user.last_name %}
		<tr>
			<td>Last Name:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.last_name.capitalize}}</td>
		</tr>
		{% endif %}
		{% if phone %}
		<tr>
			<td>Phone number:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{phone}}</td>
		</tr>
		{% endif %}
		<tr>
			<td>User type:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.groups.get.name.capitalize}}</td>
		</tr>
		{% if user.groups.get.name == 'host' and hosting_places_len > 0 %}
		<tr>
			<td>My hosting places:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{hosting_places}}</td>
		</tr>
		{% endif %}
		{% if user.groups.get.name == 'guide' and guideinfo and guideinfo.routes != 'None' %}
		<tr>
			<td>Routes:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{guideinfo.routes}}</td>
		</tr>
		{% endif %}
		{% if user.groups.get.name == 'guide' and guideinfo %}
		<tr>
			<td>Guide info:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
				{% if guideinfo.carryweapon %}
				Weapon Carry, 
				{% endif %}
				{% if guideinfo.medic %}
				Medic, 
				{% endif %}
				{% if guideinfo.transportationvehicle %}
				Transportation Vehicle, 
				{% endif %}
				Cost: {{guideinfo.cost}}
			</td>
		</tr>
		{% elif user.groups.get.name == 'guide' %}
		<tr>
			<td>Guide info:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><a href='/guideinfo/'>Add guide info</a></td>
		</tr>
		{% endif %}
		<!-- <tr>
			<td>Location:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{loc}}</td>
		</tr>
		<tr>
			<td>IP:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{ip}}</td>
		</tr> -->
	</table>
	
	<br><br><br>
<center>
	{% if user.is_active %}
	<p>Account is active</p>
	
	<form method="POST" action="/areyousure/" class="form-group">
		{% csrf_token %}
		{{form|crispy}}
		<button class="btn btn-warning">Make my account inactive</button>
	</form>
	
	{% else %}
	<p>Account is inactive</p>
	
	<form method="POST" action="/active/" class="form-group">
		{% csrf_token %}
		{{form|crispy}}
		<button type="submit" class="btn btn-warning">Make my account active</button>
	</form>
	
	{% endif %}
</center>
	
{% endif %}

{% endblock %}%}