{% extends 'main/base.html' %}

{% block title %}
	{% if user.is_authenticated and user.groups.get.name == 'guide' %}
			Add Routes
	{% else %}
			Plan Route
	{% endif %}
{% endblock %}

{% block style %}
	tr.border_bottom td {
  	border-bottom: 1px solid black;
	}
	tr.border_bottom_b td {
  	border-bottom: 2px solid black;
	}
	.blue {
  	background-color: rgba(85,144,255,.25);
	}
	.white {
  	background-color: rgba(255,255,255,.25);
	}
 #blackout {
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      #box {
        width: 500px;
        height: 1000px;
        text-align: center;
        padding: 15px;
        border: 3px solid #0000cc;
        border-radius: 10px;
        color: #0000cc;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 20;
        left: 0;
        margin: auto;
        background: #fff;
      }
      #blackout:target {display: block;}
      .close {
        display: inline-block;
        border: 1px solid #0000cc;
        color: #0000cc;
        padding: 0 12px;
        margin: 10px;
        text-decoration: none;
        background: #f2f2f2;
        font-size: 14pt;
        cursor:pointer;
      }
      .close:hover {background: #e6e6ff;}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated and user.groups.get.name == 'guide' %}
	<center><h1>Add Routes</h1></center>
{% else %}
	<center><h1>Plan Route</h1></center>
{% endif %}

{% if not user.is_authenticated %}
	<a href="/login/"><p>Login</p></a>
	<p>Not registered yet? <a href="/signup/">Sign up</a></p>
{% elif not show %}

<p>You haven't added any guide info yet! <br>
You must provide some guide info in order to add routes to your profile.</p>
<form method="POST" action="/guideinfo/" class="form-group">
	{% csrf_token %}
	{{form|crispy}}
	<center>
		<button type="submit" class="btn btn-primary">Add guide info</button>
	</center>
</form>


{% else %}

<center>

<table>
	<colgroup>
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
			</colgroup>
	<tr class="border_bottom_b">
		<td><center><b>Name</b></center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center><b>Length (km)</b></center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center><b>Time (days)</b></center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center><b>Map</b></center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center><b>Weather</b></center></td>	
		{% if user.is_authenticated and user.groups.get.name == 'guide'%}
				<td>&nbsp;&nbsp;&nbsp;</td>
			<td><center><b>Add</b></center></td>
				<td>&nbsp;&nbsp;&nbsp;</td>
		{% endif %}
	</tr>

{% if trails %}


	{% for trail in trails %}
	<tr class="border_bottom">
		<td><center>{{trail.0}}</center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center>{{trail.1}}</center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center>{{trail.2}}</center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center><a href={{trail.3}} target="map">View</a></center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>

		<div id="blackout">
     	 <div id="box">
		 <script src="//rss.bloople.net/?url=https%3A%2F%2Fweather-broker-cdn.api.bbci.co.uk%2Fen%2Fforecast%2Frss%2F3day%2F293397&showtitle=false&type=js"></script><br>
		  <a href="#"   class="close">Close window</a>
		  <td><center><a href="#blackout" target="weather">View</a></center></td>
      </div>
    </div>
		{% if user.is_authenticated and user.groups.get.name == 'guide'%}
		<td>&nbsp;&nbsp;&nbsp;</td>
			<td><center>
				<form method="POST" action="/addroute/{{trail.0}}" class="form-group">
					{% csrf_token %}
					{{form|crispy}}
					<br>
					{% if trail.0 not in guide_routes %}
					<button type="submit" class="btn btn-success">+</button>
					{% else %}
					<button type="submit" class="btn btn-danger">-</button>
					{% endif %}
				</form>
			<td>&nbsp;&nbsp;&nbsp;</td>
			</center></td>
		{% endif %}
	</tr>
	{% endfor %}

{% endif %}

</table>

<br>

<iframe name="map" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<br><br>

</center>



{% endif %}
{% endblock %}