{% extends 'main/base.html' %}

{% block title %}
	{% if user.is_authenticated and user.groups.get.name == 'guide'%}
			Add Routes
	{% else %}
			Plan Route
	{% endif %}
{% endblock %}

{% block style %}
	tr.border_bottom td {
  	border-bottom: 1px solid black;
	}
	tr.border_bottom_b td {
  	border-bottom: 2px solid black;
	}
	.blue {
  	background-color: rgba(85,144,255,.25);
	}
	.white {
  	background-color: rgba(255,255,255,.25);
	}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated and user.groups.get.name == 'guide'%}
	<center><h1>Add Routes</h1></center>
{% else %}
	<center><h1>Plan Route</h1></center>
{% endif %}

{% if not user.is_authenticated %}
	<a href="/login/"><p>Login</p></a>
	<p>Not registered yet? <a href="/signup/">Sign up</a></p>
{% else %}

<center>

<table>
	<colgroup>
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
				<col class="white" />
				<col class="white" />
				<col class="blue" />
				<col class="white" />
			</colgroup>
	<tr class="border_bottom_b">
		<td><center><b>Name</b></center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center><b>Length (km)</b></center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center><b>Time (days)</b></center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center><b>Map</b></center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		{% if user.is_authenticated and user.groups.get.name == 'guide'%}
			<td><center><b>Add</b></center></td>
		{% endif %}
	</tr>

{% if trails %}

	{% for trail in trails %}
	<tr class="border_bottom">
		<td><center>{{trail.0}}</center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center>{{trail.1}}</center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center>{{trail.2}}</center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		<td><center><a href={{trail.3}} target="map">View</a></center></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
		{% if user.is_authenticated and user.groups.get.name == 'guide'%}
			<td><center>
				<form method="POST" action="/addroute/{{trail.0}}" class="form-group">
					{% csrf_token %}
					{{form|crispy}}
					<br>
					{% if trail.0 not in guide_routes %}
					<button type="submit" class="btn btn-success">+</button>
					{% else %}
					<button type="submit" class="btn btn-danger">-</button>
					{% endif %}
				</form>
			</center></td>
		{% endif %}
	</tr>
	{% endfor %}

{% endif %}

</table>

<br>

<iframe name="map" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


<br><br><br><br><br><br>

<h3>Warnings:</h3>
<script src="//rss.bloople.net/?url=https%3A%2F%2Fims.gov.il%2Fsites%2Fdefault%2Ffiles%2Fims_data%2Frss%2Falert%2FrssAlert_general_country_en.xml&showtitle=false&type=js"></script>


</center>



{% endif %}
{% endblock %}