<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan your trip</title>
</head>
<body>
<h1 style="text-align:center;">Trip Planner</h1>
<p style="text-align:center;">HikeBuddy.</p>
    <form method="post" action='/trip/' class="form-group">
  <label for="days">days for hike:</label>
  <select id="days" name="days">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
      <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
  </select>

  <input type="submit">
</form>




<img src="https://images1.ynet.co.il/PicServer5/2019/05/24/9264978/9264974010001009801133no.jpg" width="200" height="200">
</body>
</html>