<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan your trip</title>
</head>
<body>
<h1 style="text-align:center;">Trip Planner</h1>
<p style="text-align:center;">HikeBuddy.</p>
    <form method="post" action='/planB/' class="form-group">
  <label for="days">days for hike:</label>
  <select id="days" name="days">

  </select>

  <input type="submit">
</form>




<img src="https://images1.ynet.co.il/PicServer5/2019/05/24/9264978/9264974010001009801133no.jpg" width="200" height="200">
</body>
</html>