{% extends 'main/base.html' %}

{% block title %}Profile{% endblock %}


{% load crispy_forms_tags %}

{% block content %}
<center><h1>Profile</h1></center>

{% if not user.is_authenticated %}
	<p>Not logged into any account.</p>
	<a href="/login/"><p>Login</p></a>
	
{% else %}
	<table>
		<tr>
			<td>Username:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.username}}</td>
		</tr>
		<tr>
			<td>Email address:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.email}}</td>
		</tr>
		<tr>
			<td>Phone number:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
			{% if user.phone %}
			PHONE {{user.phone}}
			{% else %}
			NO PHONE {{user.phone}}
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>User type:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.groups.get.name.capitalize}}</td>
		</tr>
		{% if user.groups.get.name == 'host' %}
		<tr>
			<td>My hosting places:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>None &nbsp;&nbsp;</td>
		</tr>
		{% endif %}
		<tr>
			<td>Location:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{loc}}</td>
		</tr>
		<tr>
			<td>IP:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{ip}}</td>
		</tr>
	</table>
	
	<br><br><br>
<center>
	{% if user.is_active %}
	<p>Account is active</p>
	
	<form method="POST" action="/active/" class="form-group">
		{% csrf_token %}
		{{form|crispy}}
		<button type="submit" class="btn btn-warning">Make my account inactive</button>
	</form>
	
	{% else %}
	<p>Account is inactive</p>
	
	<form method="POST" action="/active/" class="form-group">
		{% csrf_token %}
		{{form|crispy}}
		<button type="submit" class="btn btn-warning">Make my account active</button>
	</form>
	
	{% endif %}
</center>
	
{% endif %}

{% endblock %}%}