{% extends 'main/base.html' %}

{% block title %}{{hostuser}}'s Profile{% endblock %}

{% block style %}
	img {
		border-radius: 50%;
		border: 2px solid #3880fa;
		object-fit: cover;
	}
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<center><h1>{{hostprofileinfo}}'s Profile</h1></center>

{% if not user.is_authenticated %}
	<p>Not logged into any account.</p>
	<a href="/login/"><p>Login</p></a>
	
{% else %}
	{% if profile_pic %}
	<center>
		<br>
		<img src='{% static profile_pic %}' alt="Avatar" height=180px width=180px>
	</center>
	{% endif %}
	<table>
		<tr>
			<td>Username:&nbsp;&nbsp;&nbsp;</td>
			<td>{{hostprofileinfo}}</td>
		</tr>
		<tr>
			<td>Email address:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{hostuser.email}} &nbsp; <a href="/messagetouser/{{hostuser.username}}">send message</a></td>
		</tr>
		{% if hostuser.first_name %}
		<tr>
			<td>First Name:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{hostuser.first_name.capitalize}}</td>
		</tr>
		{% endif %}
		{% if hostuser.last_name %}
		<tr>
			<td>Last Name:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{hostuser.last_name.capitalize}}</td>
		</tr>
		{% endif %}
		{% if hostprofileinfo.phone %}
		<tr>
			<td>Phone number:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{hostprofileinfo.phone}}</td>
		</tr>
		{% endif %}
		<tr>
			<td>User type:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{hostuser.groups.get.name.capitalize}}</td>
		</tr>
		{% if hostuser.groups.get.name == 'host' and hosting_places_len > 0 %}
		<tr>
			<td>Host's places:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{hosting_places}}</td>
		</tr>
		{% endif %}
		{% if guideinfo %}
			{% if guideinfo.routes != 'None' %}
			<tr>
				<td>Routes:&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>{{guideinfo.routes}}</td>
			</tr>
			{% endif %}
		<tr>
			<td>Guide info:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
				{% if guideinfo.carryweapon %}
				Weapon Carry, 
				{% endif %}
				{% if guideinfo.medic %}
				Medic, 
				{% endif %}
				{% if guideinfo.transportationvehicle %}
				Transportation Vehicle, 
				{% endif %}
				Cost: {{guideinfo.cost}}
			</td>
		</tr>
		{% endif %}
		
	</table>
	
{% endif %}

{% endblock %}%}